llama-index-multi-modal-llms-gemini
llama-index-vector-stores-lancedb
llama-index-llms-gemini
llama-index
llama-index-embeddings-gemini
matplotlib
google-generativeai>=0.3.0
lancedb
moviepy
pytube
pydub
SpeechRecognition
ffmpeg-python
soundfile
torch
torchvision
scikit-image
ftfy
regex
tqdm
openai-whisper
llama-index-embeddings-clip
pytubefix
IPython
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
python-dotenv
transformers

-e .